/* REGISTRATION BOX */
#registrationBox {
    width: calc(68vw - 40px);
    height: 75vh;

    background-color: gray;
    border-radius: 20px;
    padding: 20px;

    color: white;

    text-align: center;
}

.h1 {
    font-size: calc(1.25vh + 1vw);
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.h2 {
    font-size: calc(0.75vh + 0.5vw);
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
}

/* FOOTER */
footer {
    height: calc(2.5vh - 4px);
    padding: 2px;
    text-align: center;

    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 8px;
}