
p, i {
	font-family: "IBM Plex Serif", serif;
}

/*-------- START PROPERTIES -------- */

.flex{display:flex;}
.flex-col{flex-direction:column;}
.flex-row{flex-direction:row;}
.justify-center{justify-content:center;}

.align-center{align-items: center;}
.items-top{align-items:flex-start;}

.wrap{
    flex-wrap:wrap;
}

.g{gap:4vw}

.min-h-screen{min-height:100vh;}
.h-screen{min-height:100vh;}

.p-3{ padding:2.5rem;}
.p-2{padding:1.75rem;}
.p-1{padding:1rem;}

.m-1{margin:1rem;}
.m-2{margin:1.75rem;}
.m-3{margin:2.5rem;}

.fixed{position:fixed;}
.right-0{right:0px;}
.top-0{top:0px;}
.left-0{left:0px;}

.margin-bottom{margin-bottom:1rem;}
.margin-top{margin-top:1rem;}

.max-w-lg{
    width:100%;
    max-width:var(--max-screen-width);

}
.full-w{
    width:100%;
}

.fs-1{font-size: 1.5rem;}
.fs-m{font-size:2rem;}
.fs-l{font-size:2.5rem;}
.fs-2{font-size: 2rem;}
.text-center{text-align: center;}

.bold-1{font-weight: 500;}
.bold-2{font-weight: 600;}
.bold-3{font-weight:700;}

.no-select {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.profile-img{
    aspect-ratio: 1/1;
    width:calc(10vh + 8vw);
    object-fit:cover;
    border-radius:50%;
}


h2 {
	font-size: calc(3vh + 1.5vw);
    font-family: "DM Mono", monospace;
    font-weight: 800;
    font-style: normal;
}

.team-m {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.team-m p {
	text-align: center;
}