#textBox {
    height: 75vh;
    width: 80vw;
    margin-top: 10vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2 {
    font-size: calc(3vh + 1.5vw);
    font-family: "DM Mono", monospace;
    font-weight: 800;
    font-style: normal;
    padding: 10px;
}


.p1 {
    font-size: calc(1.5vw + 15px);
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
}

.p2 {
    font-size: calc(.7vw + 13px);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}