html {
    scroll-behavior: smooth
}

body {
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5 {
    margin: 0px;
    padding:0px;
}

.plex-serif{font-family: "IBM Plex Serif", serif;}
.plex-sans-serif{font-family: "IBM Plex Sans", sans-serif;}
.dm-mono{font-family: "DM Mono", monospace;}


p, i {
	font-family: "IBM Plex Serif", serif;
}

h2 {
    font-size: calc(3vh + 1.5vw);
    font-family: "DM Mono", monospace;
    font-weight: 800;
    font-style: normal;
    padding: 10px;
}

.p1 {
    font-size: calc(1.5vw + 15px);
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
}

.p2 {
    font-size: calc(.7vw + 13px);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.gradient-background {
    background: linear-gradient(45deg, #EC5E78, #CE297E, #AB4080, #875681, #3378BD, #4C8FC7, #65A7D0);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.flex{display:flex;}
.flex-col{flex-direction:column;}
.flex-row{flex-direction:row;}
.justify-center{justify-content:center;}

.align-center{align-items: center;}
.items-top{align-items:flex-start;}

.wrap{
    flex-wrap:wrap;
}

.g{gap:calc(4vw)}

.p-3{ padding:2.5rem;}
.p-2{padding:1.75rem;}
.p-1{padding:1rem;}

.m-1{margin:1rem;}
.m-2{margin:1.75rem;}
.m-3{margin:2.5rem;}

.fixed{position:fixed;}
.right-0{right:0px;}
.top-0{top:0px;}
.left-0{left:0px;}

.margin-bottom{margin-bottom:1rem;}
.margin-top{margin-top:1rem;}


.no-select {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.text-center{text-align:center;}


/* ----- MOBILE -------- */

@media screen and (max-width: 420px){
    .flex-row {
        flex-direction: column;
    }
}



/* --------- PAGE STYLES ----------- */


.page {
    height: 100vh;
    opacity: 0%;
    /* border: black solid 1px; */
}

.page.inView {
    animation: fadeIn 0.5s ease 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.page.outOfView {
    animation: fadeOut 0.5s ease 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.page-ctn {
    height:95vh;
    margin-top: 10vh;
    width: 66vw;
    margin-left: 17vw;
}


/* ------- NAV BAR ----------- */
nav {
    position: fixed;
    text-align: right;
}

.pageName {
    /* with padding, the total width is 15vh */
    width: 7vw;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1vw;
    display: block;
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-size: 1.25vw;
    text-decoration: none;
    border-right: 2px solid black;
}

.pageName.hover {
    transition: 0.5s;
    color: #65A7D0;
}

.pageName.inView {
    color: #EC5E78;
    border-right: 2px solid #EC5E78;
}

/* TOP LEFT LOGO */
#topLogoContainer {
    position: fixed;
    height: 10vw;
    width: 10vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#topLogo {
    height: 60%;
    width: 60%;

    /* you can enter any png or svg image here to give it a gradient background*/
    mask: url(assets/logo_small.png);
    mask-size: 100%;

    object-fit: fill;
    transition: 0.5s;

    z-index: 1;
}

/* ------------  HOME --------------- */
#mainLogo {
    height: 7.5vw;
    width: 45vw;

    justify-content: center;
    align-items: center;
    display: flex;

    mask: url(assets/name_logo_white.png);
    mask-size: 100%;

    object-fit: fill;
}

#politics {
    text-align: right;
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5vw;
}

/* SOCIAL MEDIA STUFF */
#socialContainer {
    height: 10vw;
    display: flex;
    align-items: center;
    position: relative;
}

.social {
    height: 4vh;
    width: 4vh;
    object-fit: fill;
    margin-left: 5vh;
    background-color: black;
}

#facebook {
    mask: url(assets/socialMedia/facebook.png);
    mask-size: 100%;
}

#linkedin {
    mask: url(assets/socialMedia/linkedin.png);
    mask-size: 100%;
}

#twitter {
    mask: url(assets/socialMedia/twitter.png);
    mask-size: 100%;
}

#insta {
    mask: url(assets/socialMedia/insta.png);
    mask-size: 100%;
}

/* REGISTER BUTTON */
#registerContainer {
    height: 10vw;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 3.5vw;
}

#register {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-size: calc(0.8vw + 0.8vh) !important;
    text-decoration: none;
    text-align: center;
    color: white;

    padding: 1vw 2vw 1vw 2vw;
    border-radius: 20px;
}

#register:hover {
    font-size: calc(1vw + 1vh) !important;
    transition: 0.5s;
    animation: shake 0.5s infinite;
}

/* DATE and TIME Box */
#datetime {
    display: inline-block;
    margin-left: 3.5vw;
    margin-right: 3.5vw;

    /* text-align: right; */
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: calc(1vw + 7px);
}

/* Registration Open Box */
#registrationOpen {
    float: right;
    margin-left: 3.5vw;
    margin-right: 3.5vw;

    text-align: right;
    text-decoration: underline;
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: calc(1.5vw + 10.5px);

    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/* -------- ABOUT US ------------- */

#textBox {
    height: 75vh;
    width: 80vw;
    margin-top: 10vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* --------- VENUE --------- */
#mapContainer {
    width: calc(68vw - 40px);
    height: 75vh;
    border-radius: 20px;
    padding: 20px;
    color: black;
    text-align: center;
}

#mapWordsContainer {
    height: 100%;
    width: 50%;
    text-align: center;
    
}


/* ----------- TEAM --------- */

.profile-img{
    aspect-ratio: 1/1;
    width:calc(10vh + 8vw);
    object-fit:cover;
    border-radius:50%;
}


.team-m {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.team-m p {
	text-align: center;
}

.s-logo {
    height: 6.5vw;
    min-height: 50px;
    object-fit: contain;
}

.l-logo {
    object-fit: cover;
    height: 15vw;
}

/* --------PARTNERS-------- */

#affiliates-preview{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:2vw;

}

/* --------CONTACT-------- */

/* CONTACT BOX */
#registrationBox {
    width: calc(68vw - 40px);
    height: 75vh;
    background-color: gray;
    border-radius: 20px;
    padding: 20px;
    color: white;
    text-align: center;
}

.h1 {
    font-size: calc(1.25vh + 1vw);
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.h2 {
    font-size: calc(0.75vh + 0.5vw);
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
}

/* FORM */
#message {
    margin-top: 5vh;
    font-size: calc(0.75vh + 0.75vw);
}

#message.submitted {
    color: white;
    font-size: calc(1.5vh + 1.5vw);
    font-family: DM Mono;
    margin-top: 10vh;

    background-color: white;
    width: 50%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;

    border-radius: 20px;
}

#formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.form {
    font-family: DM Mono;
    width: 52vw;
}

.input {
    font-family: DM Mono;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
    height: 6vh;
    width:44vw;
    padding: 0.5vh 1.25vw 0.5vh 1.25vw;
    border: 0px solid black;
    border-radius: 20px;
    font-size: calc(1vh + 1vw);
    display: block;
}

.submitButton {
    font-family: DM Mono;
    font-weight: normal;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 7vw;
    padding-right: 7vw;
    border: 0px solid black;
    border-radius: 20px;
    font-size: calc(0.8vw + 0.8vh);
}

.submitButton:hover {
    font-size: calc(1vw + 1vh);
    transition: 0.5s;
}

#msgBox{
    height: 18vh;
    padding-top: 1.5vh;
}

/* FOOTER */
footer {
    height: calc(2.5vh - 4px);
    padding: 2px;
    text-align: center;

    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 8px;
}