<!DOCTYPE html>
<html lang="en">
<head>
    <title>Envision AI Conference @ Princeton</title>

	<meta name="description" content="Welcome to Envision, Princeton University's annual student-run AI conference.">

    <meta property="og:url" content="https://envisionprinceton.com"> <!-- edit here -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Envision AI Conference @ Princeton University">
    <meta property="og:description" content="Welcome to Envision, Princeton University's annual student-run AI conference.">
    <meta property="og:image" content="[logo here]"> <!-- edit here -->
    <meta name="twitter:card" content="summary_large_image">


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<body>
    <!-- TOP LEFT LOGO -->
    <a href="#page1" id="topLogoContainer">
        <div class="gradient-background" id="topLogo"></div>
    </a>

    <!-- NAV BAR -->
    <div class="flexbox" style="position: fixed; width: 10vw; height: calc(100vh - 20vw); margin-top: 10vw;" id="nav">
        <nav id="nav">
            <a class="pageName" href="#page1" id="page1Link" onmouseenter="hover('page1Link')" onmouseleave="hover('page1Link')">Home</a>
            <a class="pageName" href="#page2" id="page2Link" onmouseenter="hover('page2Link')" onmouseleave="hover('page2Link')">About</a>
            <a class="pageName" href="#page3" id="page3Link" onmouseenter="hover('page3Link')" onmouseleave="hover('page3Link')">Speakers</a>
            <a class="pageName" href="#page4" id="page4Link" onmouseenter="hover('page4Link')" onmouseleave="hover('page4Link')">Venue</a>
            <a class="pageName" href="#page5" id="page5Link" onmouseenter="hover('page5Link')" onmouseleave="hover('page5Link')">Team</a>
            <a class="pageName" href="#page6" id="page6Link" onmouseenter="hover('page6Link')" onmouseleave="hover('page6Link')">Partners</a>
            <a class="pageName" href="#page7" id="page7Link" onmouseenter="hover('page7Link')" onmouseleave="hover('page7Link')">Contact</a>

            <script>
                function hover(id) {
                    var el = document.getElementById(id);
                    if (el.classList.contains('hover')) {
                        el.classList.remove('hover');
                        el.style.fontSize = 'calc('+el.style.fontSize+' - 2.5px)';
                    }
                    else {
                        el.classList.add('hover');
                        el.style.fontSize = 'calc('+el.style.fontSize+' + 2.5px)';
                    }
                }
            </script>
        </nav>
    </div>

    <!-- REGISTER BUTTON -->
    <div class="registerContainer">
        <!--<a href="https://docs.google.com/forms/d/e/1FAIpQLSf8Kz3a4LNCl8EjYF_tPRyPcdygOM-M9fXd5MnlDoCniAz3cA/viewform" class="gradient-background register" id="register"><div>Register</div></a>-->

        <a href="#page7"  class="gradient-background register"><div>Get Involved</div></a>
    </div>

    <!-- HOME PAGE -->
    <header class="page" id="page1">
        <div id="socialContainer">
            <a href="https://www.linkedin.com/company/envision-princeton?trk=public_post_feed-actor-image" target="_blank"><div class="social" id="linkedin"></div></a>
            <a href="https://join.slack.com/t/envision2025/shared_invite/zt-30cgsyamt-KtYfKwBrDAGZKX1adv7WHw" target="_blank"><div class="social" id="slack"></div></a>
        </div>

        <div class="flexbox" style="margin-left: 10vw; width: 80vw; height: calc(100vh - 20vw);">
            <div>
                <div id="mainLogo" class="gradient-background"></div>
                <div id="politics">policy powers progress</div>
            </div>
        </div>

        <div id="bottomHomePage">
            <div id="datetime">
                February 21, 2026 <br/>
                Princeton, NJ <br/>
                <span style="font-size: 0.7rem; margin-top:2px;">** In-Person only</span>
            </div>

            <!-- registration open 
            <div id="registrationOpen">
                Schedule Released!
            </div>
            -->
            
        </div>
    </header>

    <!-- ABOUT US PAGE -->
    <section class="page" id="page2">
        <div class="flexbox page-ctn">
            <div id="textBox">
                <h2 style="text-align: left;">About<br/></h2>
                <div class="p1" style="text-align: right; width: 60vw; float: right;">Welcome to Envision 2026: A student-led conference that explores
                    the intersection of AI, tech, policy, and ethics, with the goal of educating,
                    inspiring action, and shaping tomorrow’s leaders.</div>
                <div class="p2" style="text-align: left; width: calc(30vw + 10px);">Facilitating discourse between students, practitioners, and policymakers on the ethics, policy, and power in AI.

                </div>
                <div id="affiliates-preview">
                    <a href="https://www.princeton.edu/" target="_blank"><img class="s-logo" src="static/assets/princeton_logo.png"> </a>
                    <a href="https://citp.princeton.edu/" target="_blank"><img class="s-logo" src="static/assets/citp_logo.jpeg">
                    </a>
                    <a href="https://cdh.princeton.edu/" target="_blank"><img class="s-logo" src="static/assets/cdh_logo.jpg"></a>

            </div>
            </div>
        </div>
    </section>

    <!-- SPEAKERS PAGE -->
     <section class="page" id="page3">
        <div class="flexbox" style="width: 100%; height: 100%;">
            <div id="speakerSlidesContainer">
                <!-- Speaker Slides -->
                {% for i in range(length_speakers) %}
                    {% if i%2 == 0 %}
                        <div class="slide" id="slide{{i}}">
                            <div class="bioContainer flexbox" style="float: left">
                                <div>
                                    <h2>{{speakers[i].name}}</h2>
                                    <h3>{{speakers[i].organization}}</h3>
                                    <div class="h2" style="padding-left: 10px; max-height: 20vw; overflow-y: auto;">
                                        {{speakers[i].bio}}
                                        <a href="{{speakers[i].link}}">{{speakers[i].link}}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="imgContainer flexbox" style="float: right">
                                <div class="team-m no-select">
                                    <img class="speaker-img" src="{{url_for('static', filename=speakers[i].img)}}">
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="slide" id="slide{{i}}">
                            <div class="imgContainer flexbox" style="float: left">
                                <div class="team-m no-select">
                                    <img class="speaker-img" src="{{url_for('static', filename=speakers[i].img)}}">
                                </div>
                            </div>

                            <div class="bioContainer flexbox" style="float: right;">
                                <div>
                                    <h2>{{speakers[i].name}}</h2>
                                    <h3>{{speakers[i].organization}}</h3>
                                    <div class="h2" style="padding-left: 10px; max-height: 20vw; overflow-y: auto;">
                                        {{speakers[i].bio}}
                                        <a href="{{speakers[i].link}}">{{speakers[i].link}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- Slide Buttons -->
                <div class="buttons">
                    <div class="flexbox" style="cursor: pointer;">
                        <div class="material-symbols-outlined" style="font-size: calc(1vh + 0.5vw);;" onclick="prevSlide(); delay()">arrow_back</div>&nbsp;&nbsp;&nbsp;&nbsp;
                        {% for i in range(length_speakers) %}
                            <div class="material-symbols-outlined page_controllers" style="font-size: calc(1vh + 0.5vw);" onclick="showSlide({{i}}); delay()">radio_button_unchecked</div>&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                        <div class="material-symbols-outlined" style="font-size: calc(1vh + 0.5vw);" onclick="nextSlide(); delay()">arrow_forward</div>
                    </div>
                </div>

                <!-- Slide Script -->
                 <script>
                    var speakers = document.querySelectorAll(".slide");
                    var pageControllers = document.querySelectorAll(".page_controllers");
                    var slideNum = 0;
                    var time = 0;

                    function showSlide(j) {
                        slideNum = (j+speakers.length)%speakers.length;
                        for (var i = 0; i < speakers.length; i++) {
                            speakers[i].style.display = "none";
                            pageControllers[i].innerHTML = "radio_button_unchecked";
                            speakers[i].classList.remove('inView');
                        }
                        speakers[slideNum].style.display = "block";
                        speakers[slideNum].classList.add('inView');
                        pageControllers[slideNum].innerHTML = "radio_button_checked";
                    }

                    function nextSlide(){
                        slideNum++;
                        showSlide(slideNum);
                    }

                    function prevSlide(){
                        slideNum--;
                        showSlide(slideNum);
                    }

                    showSlide(0);

                    function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }

                    function delay() {
                        time = -450;
                    }

                    // Move Slides
                    function moveAuto() {
                        time++;
                        if (time >= 450) {
                            nextSlide();
                            time = 0;
                        }
                        requestAnimationFrame(moveAuto);
                    }

                    requestAnimationFrame(moveAuto);
                 </script>
            </div>
        </div>
     </section>

    <!-- VENUE PAGE -->
     <section class="page" id="page4">
        <div class="flexbox" style="width: 100%; height: 100%;">
            <div id="mapContainer">
                <div class="flexbox">
                    <div id="mapWordsContainer">
                        <h2 class="flexbox" style="height: 25%;">
                            Venue
                        </h2>

                        <div class="flexbox" style="height: 75%;">
                            <div class="h2" style="padding: 10% 10% 35% 10%;">
                                <span style="font-weight: bold;">Frist Campus Center, Princeton NJ 08540</span>
                                <br/>
                                <br/>
                                Nearest Airports: Newark Liberty International Airport, Philadelphia International Airport
                                <br/>
                                <br/>
                                Trains: Stop at Princeton Junction Station and take the <a href="https://www.njtransit.com/dinky">Dinky to Princeton Station</a>
                                <br/>
                                <br/>
                                Nearby Hotels:
                                    <a href="https://www.hilton.com/en/hotels/pctgpgu-graduate-princeton/?arrivalDate=2024-12-23&departureDate=2024-12-24&flexibleDates=false&numRooms=1&numAdults=1&numChildren=0&room1ChildAges=&room1AdultAges=&sessionToken=fb295439-047c-4ae9-b8dc-a75ffa940a28">
                                        Graduate by Hilton
                                    </a>,
                                    <a href="https://nassauinn.com/?device=c&keyword=nassau%20inn%20princeton&placement&adgroup=65095475655&campaign=1675358774&gad_source=1&gclid=Cj0KCQiAsaS7BhDPARIsAAX5cSC2Jr1boGtJPulQnj-VXu_ytZTd6z0H0MOvkv3QLRbd9Oy3XdcKgbkaAr4IEALw_wcB">
                                        Nassau Inn
                                    </a>,
                                    <a href="https://www.ihg.com/holidayinn/hotels/us/en/princeton/prnnj/hoteldetail">
                                        Holiday Inn Princeton
                                    </a>,
                                    <a href="https://www.hyatt.com/hyatt-regency/en-US/princ-hyatt-regency-princeton?icamp=hpe-hy-com_hcom_search_chico_0_en-US_property_princ">
                                        Hyatt Regency Princeton
                                    </a>,
                                    <a href="https://www.hyatt.com/hyatt-place/en-US/ewrzp-hyatt-place-princeton?icamp=hpe-hy-com_hcom_search_chico_1_en-US_property_ewrzp">
                                        Hyatt Place Princeton
                                    </a>,
                                    <a href="https://www.hilton.com/en/hotels/pctdtdt-doubletree-princeton/">
                                        DoubleTree Princeton
                                    </a>
                                <br/>
                                <br/>
                                <br/>
                                <br>
                                <i>**In-Person Attendance Only**</i>

                            </div>
                        </div>
                    </div>

                    <!-- The Map -->
                    <iframe
                        id = 'map'
                        style="height: 100%; width: 50%; border-radius: 20px;"
                        frameborder="0" style="border:0"
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD15o7bijQYNsCUhowrAafhpGrOcfGTe4E&q=Frist+Campus+Center,Princeton+NJ&maptype=satellite&zoom=18"
                        allowfullscreen>
                     </iframe>
                </div>
            </div>

            <script>
                function bigVenue() {
                    console.log('bigVenue()')
                    var mapWords = document.getElementById('mapWordsContainer');
                    var map = document.getElementById('map');

                    mapWords.style.display = 'none';
                    map.style.width = '100%';
                }

                function smallVenue() {
                    console.log('smallVenue()')
                    var mapWords = document.getElementById('mapWordsContainer');
                    var map = document.getElementById('map');

                    mapWords.style.display = 'block';
                    map.style.width = '50%';
                }
            </script>
        </div>
     </section>

    <!-- SLACK  -->
     <!--
    <section class="page" id="page5">
        <div class="flexbox">
            <div id="slackContainer">
                <div class="flexbox">
                    <div id="slackWordsContainer">
                        <h2 class="flexbox" style="height: 25%; text-align:center">
                            Slack
                        </h2>

                        <div class="flexbox" style="height: 50%;">
                            <div class="h2" style="padding: 10% 10% 35% 10%;">
                                We ask all attendees to join the conference slack before arriving. We will post all updates and conference information here.
                                This is also a great place to keep in touch with the Envision team and everyone you meet at the conference!
                            </div>
                        </div>
                    </div>

                    The QR Code
                    <a href="https://join.slack.com/t/envision2025/shared_invite/zt-30cgsyamt-KtYfKwBrDAGZKX1adv7WHw" target="_blank">
                        <img style="height:calc(10vh + 15vw)" src="{{url_for('static', filename='assets/slackQR.jpeg')}}" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    -->

    <!-- TEAM PAGE -->
    <section class="page" id="page5">
        <div class="page-ctn flexbox flex-col align-center justify-center">
            <h2 class="m-1 g">Our Team</h2>
            <p class="p2 text-center" >Meet the beautiful faces behind Envision.</p>

            <div style="padding-bottom: 20px;">

            <!-- TEAM Slides -->
                {% set counter = 1 %}
                {% for i in range(team_slides) %}
                {% if i==0 %}
                    <div class="a_slide" id="a_slide{{i}}">
                            <div class="flex flex-row justify-center p2">
                                    <img class="team-img" style="height: 30vw; border-radius: 20px" src="{{url_for('static', filename=team[i].img)}}">
                            </div>
                        <p style="text-align:center;">{{team[i].name}}</p>
                    </div>

                {% else %}
                <div class="a_slide" id="a_slide{{i}}">
                        <div class="flex flex-col g">
                            <div class="flex flex-row justify-center g">
                    {% for j in range(6) %}
                                {% set counter =  loop.index +((i - 1) * 6) %}
                                {% if counter < length_team %}
                            <div class="team-m no-select">
                                <img class="profile-img" src="{{url_for('static', filename=team[counter].img)}}">
                                <div class="flex flex-col align-center">
                                    <p style="margin: 0px; font-size:15px;">{{ team[counter].name }}</p>
                                <i style="font-size: 12px;">{{ team[counter].role }}</i>
                                </div>

                            </div>
                                {% endif %}

                    {% if j == 2 %}
                        </div>
                         <div class="flex flex-row justify-center g">
                    {% endif %}

                {% endfor %}
                    </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}

                </div>

                <!-- Slide Buttons -->
                <div class="buttons">
                    <div class="flexbox" style="cursor: pointer;">
                        <div class="material-symbols-outlined" style="font-size: calc(1vh + 0.5vw);" onclick="teamPrevSlide(); delay()">arrow_back</div>&nbsp;&nbsp;&nbsp;&nbsp;
                        {% for i in range(team_slides) %}
                            <div class="material-symbols-outlined t_page_controllers" style="font-size: calc(1vh + 0.5vw);" onclick="teamShowSlide({{i}}); delay()">radio_button_unchecked</div>&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                        <div class="material-symbols-outlined" style="font-size: calc(1vh + 0.5vw);" onclick="teamNextSlide(); delay()">arrow_forward</div>
                    </div>
                </div>

                <!-- Slide Script -->
                 <script>
                    var team = document.querySelectorAll(".a_slide");
                    var t_pageControllers = document.querySelectorAll(".t_page_controllers");
                    var t_slideNum = 0;
                    var t_time = 0;

                    function teamShowSlide(j) {
                        t_slideNum = (j+team.length)%team.length;
                        for (var i = 0; i < team.length; i++) {
                            team[i].style.display = "none";
                            t_pageControllers[i].innerHTML = "radio_button_unchecked";
                            team[i].classList.remove('inView');
                        }
                        team[t_slideNum].style.display = "block";
                        team[t_slideNum].classList.add('inView');
                        t_pageControllers[t_slideNum].innerHTML = "radio_button_checked";
                    }

                    function teamNextSlide(){
                        t_slideNum++;
                        teamShowSlide(t_slideNum);
                    }

                    function teamPrevSlide(){
                        t_slideNum--;
                        teamShowSlide(t_slideNum);
                    }

                    teamShowSlide(0);

                    // Move Slides
                    function teamMoveAuto() {
                        t_time++;
                        if (t_time >= 450) {

                            t_time = 0;
                        }
                        requestAnimationFrame(teamMoveAuto);
                    }
                    requestAnimationFrame(teamMoveAuto);
                 </script>

        </div>
    </section>

    <!-- PARTNERS PAGE -->
    <section class="page" id="page6">
        <div class="page-ctn flexbox flex-col align-center justify-center">
            <h2 class="m-1 g text-center">Our Partners</h2>
            <p class="p2 text-center" style="margin-bottom:3rem;">Envision promotes a shared vision with our partners.</p>
            <div class="flex flex-row align-center wrap justify-center g">
                <a class="text-center" href="https://citp.princeton.edu/" target="_blank"><img class="l-logo" src="{{url_for('static', filename='assets/citp_logo.jpeg')}}"></a>
                <a class="text-center" href="https://cdh.princeton.edu/" target="_blank"><img class="l-logo" src="{{url_for('static', filename='assets/cdh_logo.jpg')}}"></a>
                <a class="text-center" href="https://researchcomputing.princeton.edu/" target="_blank"><img class="l-logo" src="{{url_for('static', filename='assets/princeton_research_computing_logo.jpeg')}}"></a>
                <a class="text-center" href="https://jrc.princeton.edu" target="_blank"><img class="l-logo" src="{{url_for('static', filename='assets/JRCPPF.png')}}"></a>
                <a class="text-center" href="https://jrc.princeton.edu" target="_blank"><img class="l-logo" src="{{url_for('static', filename='assets/LISD_logo.png')}}"></a>
                <a class="text-center" href="https://jrc.princeton.edu" target="_blank"><img class="l-logo" src="{{url_for('static', filename='assets/odus_logo.png')}}"></a>
            </div>
        </div>
    </section>

    <!-- CONTACT PAGE -->
    <section class="page" id="page7">
        <div class="flexbox center-x" style="height: 95vh; margin-top: 2.5vh;">
            <div id="registrationBox">
                <h2>Contact Us</h2>

                <div id="messageContainer" class="flexbox" style="height: 10%;">
                    <div id="message" class="p2">
                        Fill out this form to get in touch with us.
                        <br/>
                        We'll reply back as soon as possible.
                    </div>
                </div>


                <div id="formContainer">
                    <form method="POST" action="{{ url_for('get_involved') }}" class="form" id="form">
                        {{ ContactForm.csrf_token }}
                        {{ ContactForm.hidden_tag() }}
                        <div style="display: flex; justify-content: center;">
                            {{ ContactForm.name(class_="input", id_="nameBox") }}
                        </div>
                        <div style="display: flex; justify-content: center;">
                            {{ ContactForm.email_id(class_="input", id_="emailBox") }}
                        </div>
                        <div style="display: flex; justify-content: center;">
                            {{ ContactForm.affiliation(class_="input", id_="affiliationBox") }}
                        </div>
                        <div style="display: flex; justify-content: center;">
                            {{ ContactForm.role(class_="input", id_="roleBox") }}
                        </div>
                        <div style="display: flex; justify-content: center;">
                            {{ ContactForm.message(class_="input", id_="msgBox") }}
                        </div>
                        <div style="display:none">
                            {{ ContactForm.honeypot(class_="input", id_="websiteBox") }}
                        </div>
                        <div style="display: flex; justify-content: center; padding:10px;" onclick="checkAndClose()">
                            {{ ContactForm.submit(class_="submitButton gradient-background", id_="button") }}
                        </div>

                        <div class="msg">{{ msg }}</div>
                    </form>

                    <div style="display: none;" id="formOff" onload="closeForm()">{{ formOff }}</div>
                </div>

                <script>
                    document.getElementById("form").addEventListener("submit", async function(event){
                        event.preventDefault();

                        const formData = new FormData(this);
                        const csrfToken = document.querySelector('input[name="csrf_token"]').value;

                        const response = await fetch("/get-involved", {
                            method: "POST",
                            headers: {
                                'X-CSRFToken': csrfToken, 
                            },
                            body: formData
                        });
                        if (response.status === 429){
                            document.getElementById("message").innerHTML = "Too many form submissions. Please try again later.";
                            document.getElementById("message").classList.add('error');
                            return;

                        }
                        if (response.ok){
                            const result = await response.json();
                            if (result.success) {
                                closeForm();
                            } else {
                                document.getElementById("message").innerHTML = result.message;
                                document.getElementById("message").classList.add('error');
                            }
                        }
                    });

                    // Submit Contact Form
                    function closeForm(){
                        document.getElementById("formContainer").style.display = "none";
                        document.getElementById("messageContainer").style.height = "65%";
                        document.getElementById("message").innerHTML = "Form Submitted!";
                        document.getElementById("message").classList.add('submitted');
                        document.getElementById("message").classList.add('gradient-background');
                    }

                    function checkAndClose(){
                        var name = document.getElementById("nameBox").value;
                        var email = document.getElementById("emailBox").value;
                        var msg = document.getElementById("msgBox").value;
                        if (not((msg==="") || (name==="") || (email===""))){
                            closeForm();
                        }
                    }

                    if (document.getElementById("formOff").innerHTML==="1") {
                        closeForm();
                    }
                </script>
            </div>
        </div>

        <footer>
            Made with ❤️ in Princeton by Mayank S, Eden R, and Miguel P
        </footer>
    </section>

    <script>
        let elementsArray = document.querySelectorAll(".page");
        let linksArray = document.querySelectorAll(".pageName");
        var benchmarks = [];
        for (var i = 0 ; i < elementsArray.length - 1; i++) {
            benchmarks[i] = i+0.5;
        }

        var onFirstPage = true;
        window.addEventListener('scroll', fadeIn);
        function fadeIn() {
            var top = elementsArray[0].getBoundingClientRect().top;
            var height = elementsArray[0].getBoundingClientRect().height;
            var pos = -top/height;
            var domain = getDomain(pos);
            for (var i = 0; i < elementsArray.length; i++) {
                var elem = elementsArray[i];
                var link = linksArray[i];

                if (i==domain) {
                    elem.classList.add("inView");
                    elem.classList.remove("outOfView");
                    link.classList.add("inView");
                    if (i==0) {
                        onFirstPage = true;
                    }
                }
                else {
                    elem.classList.remove("inView");
                    elem.classList.add("outOfView");
                    link.classList.remove("inView");
                    if (i==0) {
                        onFirstPage = false;
                    }
                }

                elem.style.zIndex = '0';
                document.getElementById('nav').style.zIndex = '1';
                document.getElementById('topLogoContainer').style.zIndex = '2';
            }
        }
        fadeIn();

        function getDomain(pos) {
            // determines which page is in view
            var domain = 0;
            for (var i = 0 ; i < benchmarks.length; i++) {
                if (pos > benchmarks[i]) {
                    domain = i+1;
                }
            }

            return domain;
        }

        window.addEventListener('scroll', changeLogo);
        function changeLogo() {
            if (onFirstPage) {
                shrinkLogo();
            }
            else {
                expandLogo();
            }
        }
        changeLogo();

        function shrinkLogo() {
            var topLogo = document.getElementById('topLogo');
            topLogo.style.height = '65%';
            topLogo.style.width = '65%';
        }

        function expandLogo(size = 85) {
            var topLogo = document.getElementById('topLogo');
            topLogo.style.height = String(size)+'%';
            topLogo.style.width =  String(size)+'%';
        }

        window.addEventListener('resize', checkPhoneMode);
        var onPhone = true;
        function checkPhoneMode() {
            var height = window.innerHeight;
            var width = window.innerWidth;
            if (height > width) {
                onPhone = true;
            }
            else {
                onPhone = false;
            }
            phoneMode();
        }
        checkPhoneMode();

        window.addEventListener('scroll', phoneMode);
        function phoneMode() {
            if (onPhone) {
                if (onFirstPage) {
                    loseSide();
                }
                else{
                    gainSide();
                    expandSide();
                }
                for (var icon of document.querySelectorAll('.social')) {
                    icon.style.height = '6vw';
                    icon.style.width = '6vw';
                    icon.style.marginLeft = '5vw';
                }

                // registerFont('15px');
                document.getElementById('bottomHomePage').style.transform = 'translateY(-12vh)';
                bigVenue();
            }
            else {
                gainSide();
                shrinkSide();
                for (var icon of document.querySelectorAll('.social')) {
                    icon.style.height = '4vh';
                    icon.style.width = '4vh';
                    icon.style.marginLeft = '5vh';
                }

                // registerFont('17px');
                document.getElementById('bottomHomePage').style.transform = 'translateY(0px)';
                smallVenue();
            }
        }

        function loseSide() {
            document.getElementById('nav').style.display = 'none';
            document.getElementById('topLogoContainer').style.display = 'none';
            document.getElementById('socialContainer').style.marginLeft = '0';
        }

        function gainSide() {
            document.getElementById('nav').style.display = 'flex';
            document.getElementById('topLogoContainer').style.display = 'flex';
            document.getElementById('socialContainer').style.marginLeft = '8vw';
        }

        function expandSide() {
            expandLogo(65);
            for (var pageName of document.querySelectorAll('.pageName')) {
                pageName.style.width = '18vw';
                pageName.style.fontSize = '2.25vw';
            }
            document.getElementById('topLogoContainer').style.height = '15vw';
            document.getElementById('topLogoContainer').style.width = '15vw';
        }

        function shrinkSide() {
            changeLogo();
            for (var pageName of document.querySelectorAll('.pageName')) {
                pageName.style.width = '7vw';
                pageName.style.fontSize = '1.25vw';
                document.getElementById('topLogoContainer').style.height = '10vw';
                document.getElementById('topLogoContainer').style.width = '10vw';
            }
        }

        // function registerFont(size) {
        //     document.getElementById('register').style.fontSize = size;
        // }
    </script>
</body>
</html>